ion-card-title {
    text-transform: capitalize;
    font-size: 28px;
}

ion-img {
    max-width: 500px;
    max-height: 500px;
}

h3 {
    font-size: 15px;
}

#space {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 16px;
}
