<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon id="cart" slot="end" name="cart-outline"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content onload="runHttp()">

  <ion-card *ngFor="let product of products.items">
    <a [routerLink]="['/product', product.id]">
      <ion-card-header class="head">
        <ion-card-title class="title">
          {{ product.title }}
        </ion-card-title>
        <ion-card-subtitle>
          <h4 class="subtitle">{{ product.rating }}%</h4>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-img src="{{ product.image }}"></ion-img>
      <ion-card-content>
        <h3 class="h3-cont">${{ product.price }}</h3>
      </ion-card-content>
    </a>
  </ion-card>


</ion-content>