ion-card-title {
    text-transform: capitalize;
}

#subtitle {
    margin: 3px;
}

div {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
}

h3 {
    display: inline-flex;
    font-size: 20px;
}


