<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-fab vertical="center" horizontal="end" slot="end">
      <ion-fab-button (click)="openCart()" #cart>
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>





<ion-content onload="runRoute()">
  <ion-card *ngFor="let category of categorys.items">
    <a [routerLink]="['/category', category.title]">
      <ion-card-header>
        <ion-card-title>
          {{category.title}}
        </ion-card-title>
      </ion-card-header>
      <ion-img src="{{ category.image }}"></ion-img>
    </a>
  </ion-card>
</ion-content>