<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon id="cart" slot="end" name="cart-outline"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content onload="runRoute()">
  <ion-card *ngFor="let category of categorys.items">
    <a [routerLink]="['/category', category.title]">
      <ion-card-header>
        <ion-card-title>
          {{category.title}}
        </ion-card-title>
      </ion-card-header>
      <ion-img src="{{ category.image }}"></ion-img>
    </a>
  </ion-card>
</ion-content>