<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-label>
    <h1>Featured Products</h1>
  </ion-label>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h3>queen panel bed</h3>
      <ion-img src="./assets/product-1.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <h3>fridge</h3>
      <ion-img src="./assets/product-5.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <h3>table</h3>
      <ion-img src="./assets/product-8.jpeg"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>